<!DOCTYPE html>
<html lang="en">

<head>

    <title>{{ app_name }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<body>
    <header>
        
        <h1>{{ app_name }}</h1>
        
        <nav>
            <a href="/">Home</a> |
            <a href="/transactions">Transactions</a> |
            <a href="/reports">Reports</a>
        </nav>

    </header>
    

    <hr>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <footer>

    </footer>

    

</body>

</html>